<!DOCTYPE html>
<html lang="en">
    <head>

        <title>PSC Lab Space {{ title }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="/images/book.ico">
        <link rel="stylesheet" href="/styles/oldstyles.css">

        <!-- Allow pages to add their own head content if needed -->
        {% block head %}{% endblock %}
    </head>

    <body>
        <header id="menu">
            <script src="/styles/menu.js"></script>
            <br>
        </header>

        <!-- Page content will be injected here -->
        {% block content %}{% endblock %}

        <!-- Footer -->
        <div id="footer-box" style="height: 70px; text-align: center; background-color:#94b3ae; color: #FFF; position: absolute; bottom: 0; width: 100%;">
            <br>
        Created by the Northeastern Digital Scholarship Group (DSG) in collaboration with the Massachusetts Historical
        Society (MHS). Designed to work alongside the MHS Primary Source Cooperative.
        <br>
        </div>
    </body>
</html>