<!DOCTYPE html>
<html lang="en">
    <head>

        <title>PSC Lab Space {{ title }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="images/book.ico">
        <link rel="stylesheet" href="styles/global.css">
        <link rel="stylesheet" href="styles/oldstyles.css">
        <link rel="stylesheet" href="styles/menu.css">

        <!-- Allow pages to add their own head content if needed -->
        {% block head %}{% endblock %}
    </head>

    <body>
        <header id="menu">
            <script src="styles/menu.js"></script>
            <br>
        </header>

        <!-- Page content will be injected here -->
        {% block content %}{% endblock %}

        <!-- Footer -->
        <div id="footer-box">
            <br>
       
© 2024 Digital Scholarship Group (DSG) at Northeastern University
<br>
Created in colloboration with the Massachusetts Historical Society, and their Primary Source Cooperative

<br>
            <br>
            <a style="color: white;" href="https://dsg.northeastern.edu/">Digital Scholarship Group</a> | <a style="color: white;" href="https://www.masshist.org/">Massachusetts Historical Society</a>  | <a style="color: white;" href="https://www.primarysourcecoop.org/">Primary Source Co-operative</a>   | <a style="color: white;" href="https://github.com/NEU-DSG/mhs-web">Source Code</a>
            <br>
        </div>
    </body>
</html>
