<!DOCTYPE html>
<html lang="en">
    <head>

        <title>PSC Lab Space {{ title }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="{{ '/images/book.ico' | url }}">
        <link rel="stylesheet" href="{{ '/styles/global.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/oldstyles.css' | url }}">
        <link rel="stylesheet" href="{{ '/styles/menu.css' | url }}">

        <!-- Allow pages to add their own head content if needed -->
        {% block head %}{% endblock %}
    </head>

    <body>
        <header id="menu" data-baseurl="{{ '/' | url }}">
            <script src="{{ '/styles/menu.js' | url }}"></script>
            <br>
        </header>

        <!-- Page content will be injected here -->
        {% block content %}{% endblock %}

        <!-- Footer -->
        <div id="footer-box">
            <br>
       
© 2024 Digital Scholarship Group (DSG) at Northeastern University
<br>
Created in colloboration with the Massachusetts Historical Society, and their Primary Source Cooperative

<br>
            <br>
            <a style="color: white;" href="https://dsg.northeastern.edu/">Digital Scholarship Group</a> | <a style="color: white;" href="https://w