{% set cardPath = '/' + (type + '/' if type else '') + author + ('/' + viz if viz else '') + '/index.html' %}
{% set imgFile = viz if kind == "Projects" else author %}

<button class="card" onclick="window.location.href='{{ cardPath | url }}';">
    <div class="card-header">
        <img src="{{ ('/images/bookimages/' + imgFile + '.jpg') | url }}" alt="Cover of {{ built.Btitles[imgFile] }}" class="card-image">
    </div>
    <div class="card-body">
        <h2 class="card-title">{{ built.Btitles[imgFile] }}</h2>
        <p class="card-description"></p>
    </div>
</button>