<div class="book">
    <div onclick="window.location.href='{% if type %}{{ type }}/{% endif %}{{ author }}{% if viz %}/{{ viz }}{% endif %}/index.html';" class="side spine">
        <span class="spine-title">{{ built.Btitles[author] }}</span>
    </div>
    <div class="side top"></div>
    <div onclick="window.location.href='{% if type %}{{ type }}/{% endif %}{{ author }}{% if viz %}/{{ viz }}{% endif %}/index.html';" class="side cover"
         style="background-image: url('/images/bookimages/{{ author }}.jpg');"></div>
</div>