{% extends "base.njk" %}

{% block head %}
    <link rel="stylesheet" href="/psc/styles/global.css">
    <link rel="stylesheet" href="/psc/styles/bookshelf.css"/>
{% endblock %}

{% block content %}

    <div class="main-body">
        <div class="container">

            <img src="/psc/images/bookimages/{{ initials }}.jpg" class="header-image" alt="Portrait of {{ initials }}">

            <h1 id="JQA-header" class="title">{{title}}</h1>

            <div class="button-container">
                <button class="button-1" role="button" onclick="window.location.href='index.html';">Back to Home</button>
                <button class="button-1" role="button" onclick="window.location.href = '{{ kind | lower }}/index.html';">Back to {{ kind }}</button>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll(".header-image").forEach(img => {
                    let initials = img.getAttribute("src").match(/\/([^\/]+)\.jpg$/)?.[1]; // Extract initials

                  if (!initials) return; // Skip if initials cannot be extracted

                  let altText;
                    if (initials.startsWith("coref")) {
                     altText = `Example of Coreference Graph`;
                    } else if (initials.startsWith("geo")) {
                       altText = `Example of Geo-Reference Graph`;
                    } else if (initials.startsWith("CMS")) {
                        altText = `Portrait of Catherine Maria Sedgwick`;
                    } else if (initials.startsWith("JQA")) {
                        altText = `Portrait of John Quincy Adams`;
                    } else if (initials.startsWith("RBT")) {
                        altText = `Portrait of Roger Brooke`;
                    }

                 img.setAttribute("alt", altText);
               });
          });
         </script>
        <br>
        <br>
        <br>

        <div class="bookshelf">
            {% if kind == "Projects" %}

                {% for tool in data.tools %}
                    {% set author = tool.tool %}
                    {% if tool.tool != "geo" or (tool.tool == "geo" and (initials != "CMS" and initials != "RBT")) %}
                        {% include "book.njk" %}
                    {% endif %}
                {% endfor %}

            {% elif kind == "Tools" %}

                {% for proj in data.projects %}
                    {% set type = "../../projects" %}
                    {% set author = proj.initials %}
                    {% set viz = initials %}
                    {% if tool.tool != "geo" or (tool.tool == "geo" and proj.initials != "CMS" and proj.initials != "RBT") %}
                        {% include "book.njk" %}
                    {% endif %}
                {% endfor %}

            {% else %}
                <p>Content not found for this section.</p>

            {% endif %}

        </div>

    </div>

</div>

{% endblock %}