{% extends "base.njk" %}

{% block head %}
    <title>PSC Lab Space {{ title }}</title>
    <link rel="stylesheet" href="../styles/bookshelf.css"/>
    <link rel="stylesheet" href="/styles/global.css">
    <script type="module" src="../styles/bookshelf.js"></script>
{% endblock %}

{% block content %}
    <div class="main-body">
        <h1 class="title">{{ title }}</h1>
        <div class="button-container">
            <button class="button-1" role="button" onclick="window.location.href='/index.html';">Back to Home</button>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="bookshelf">
                {% if title == "Tools" %}

                    {% for tool in data.tools %}
                        {% set author = tool.tool %}
                        {% include "book.njk" %}
                    {% endfor %}

                {% elif title == "Projects" %}

                    {% for proj in data.projects %}
                        {% set author = proj.initials %}
                        {% include "book.njk" %}
                    {% endfor %}

                {% else %}
                    <p>Content not found for this section.</p>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}