{% extends "base.njk" %}

{% block head %}
    <title>PSC Lab Space {{ title }}</title>
    <link rel="stylesheet" href="../styles/bookshelf.css"/>
    <script type="module" src="../styles/bookshelf.js"></script>
{% endblock %}

{% block content %}
    <div style="width: 60%;" class="main-body">
        <h1 class="title">{{ title }}</h1>
        <div style="position: absolute; left: 50%; transform: translateX(-50%); margin-top: -30px;">
            <button class="button-1" role="button" onclick="window.location.href='/index.html';">Back to Home</button>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="bookshelf">
                {% if title == "Tools" %}
                    <!-- Network Graph Tool -->
                    {% set author = "coref" %}
                    {% include "book.njk" %}

                    <!-- Geo-References Tool -->
                    {% set author = "geo" %}
                    {% include "book.njk" %}

                    <!-- Timelines Tool -->
                    {% set author = "timeline" %}
                    {% include "book.njk" %}
                {% elif title == "Projects" %}
                    <!-- JQA Project -->
                    {% set author = "JQA" %}
                    {% include "book.njk" %}

                    <!-- CMSOL Project -->
                    {% set author = "CMSOL" %}
                    {% include "book.njk" %}

                    <!-- RBT Project -->
                    {% set author = "RBT" %}
                    {% include "book.njk" %}
                {% else %}
                    <p>Content not found for this section.</p>
                {% endif %}
            </div>

            <!-- Bookshelf visual below the books -->
            <div class="visual-bookshelf"></div>
        </div>
    </div>
{% endblock %}
