---
layout: visualizations/coref.njk
person: Roger Brooke Taney
initials: RBT
tabs:   
  - number: 2
    title: "Persn"
    short_title: "Co-References"
    icon: "fa-diagram-project"
    date: "(1828 - 1866)"
    data_file: "data.json"
    desc: >
            Roger Brooke Taney (1777 – 1864) was one of the most significant
            American jurists of the 19th century, second only to John Marshall (1755 – 1835) in importance.
            Although remembered today for his decision in Dred Scott v. Sandford, Taney wielded considerable
            political influence in the years prior to his appointment to the Supreme Court. His writings
            during the first half of the 1830s provide insights into the political and economic dynamics of
            the period, the lessons of which inform the contemporary American political scene and our
            understanding of his juridical reasoning.
---