#map {
    height: 700px;
    width: 100%;
    border: 4px solid #688F88;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.legend {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.legend h4 {
    margin: 0 0 10px;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.legend-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s, opacity 0.3s;
}

.legend-item img {
    margin-right: 8px;
}

.legend-item.filtered-out {
    background-color: rgba(25, 20, 20, 0.1);
    opacity: 0.5;
    text-decoration: line-through;/
}

.legend-item:hover {
    background-color: rgba(0, 123, 255, 0.1);
    transform: scale(1.05);
}

.info-icon {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.info-icon i {
    color: white;
    transition: color 0.2s ease;
}

.info-icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.info-icon:hover i {
    color: #007bff;
}

.info-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.info-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.info-popup-content button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.info-popup-content button:hover {
    background-color: #0056b3;
}