.main-body {
    width: 70%;
}

.button-container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
  
.button-1 {
    margin-left: 10px;
}

.tool-body {
    color: black;
}

.Filter-Title {
    color: black;
}

.subtitle {
    color: black;
}

.about-text {
    display: flex;
    padding-left: 1rem;
}

.legend-list {
    padding-left: 2rem;
}