/* Template from Cara Marta Messina
   https://github.com/caramessina/caramessina.github.io */
body {
  margin: 0;
}

.topnav {
  width: 100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5A7C77;
}

ul.topnav li.logo {
  float: left;
  color: white;
  font-size: 20px;
  padding: 10px 12px;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

ul.topnav li a:hover:not(.active),
ul.topnav li a:focus:not(.active) {
  background-color: #4D6A67;
}

ul.topnav li a.active {
  background-color: #666699;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
    width: 100%;
  }

  .dropdown-content {
    position: relative;
    width: 100%;
    background-color: #547371;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    position: relative;
    font-style: italic;
  }

  .topnav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .topnav li {
    width: 100%;
  }
  
  .dropdown-content {
    position: relative;
    width: 100%;
  }
}

li a .dropbtn {
  display: inline-block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5A7C77;
  min-width: 160px;
  z-index: 1000;
}

.dropdown-content a {
  color: #5A7C77;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-style: italic;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #111;
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

/* Dropdown Arrow Styling */
.dropdown-arrow {
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
  content: "▼";
}

/* Update arrow when dropdown is visible */
.dropdown:hover>a .dropdown-arrow,
.dropdown:focus-within>a .dropdown-arrow {
  content: "▲";
}

#footer-box {
  height: auto;
  text-align: center;
  background-color:#5A7C77;
  color: #FFF;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
}