p {
    font-weight: 400;
    line-height: 1.8;
    color: #353135;
    text-align: left;
    position: relative;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    text-decoration: underline;
}

body {
    background-color: #f5f5f5;
    font-size: 18px;
    color: #353135;
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-image: url('../images/boston.jpg');
}

.main-body {
    position: relative;
    max-width: 1600px;
    margin: 50px auto;
    background-color: #fdeed8;
    color: #353135;
    padding: 40px;
    position: relative;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), inset 0 0 10px rgba(0, 0, 0, 0.2);
    transform: rotate(0.0deg);
    /* No idea why but this causes the texture to apply, otherwise it won't */
    z-index: 0;
    border-radius: 20px;

}

.main-body::before,
.main-body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    background: url('https://www.transparenttextures.com/patterns/fabric-of-squares.png') repeat;
    /*texture  */
    filter: contrast(120%) brightness(90%);
    transform: rotate(0.0deg);
    border-radius: 20px;
}




.main-body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -10px 20px 30px rgba(0, 0, 0, 0.5);
    transform: rotate(0.0deg);
    z-index: -3;
    border-radius: 20px;
}


.column {
    width: 75%;
    padding: 20px;
    text-align: justify;
}

img {
    max-width: 100%;
}


/* General Title styling */
.title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #242124;
    position: relative;
}

/* First letter in script style */
.title::first-letter {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    font-weight: bold;
    color: #F36D73;
    line-height: 1;
}

.subtitle span {
    letter-spacing: 0.02em;
}

/* General Title styling */
.subtitle {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    color: #242124;
    position: relative;
}

/* First letter in script style */
.subtitle::first-letter {
    font-family: 'Great Vibes', cursive;
    font-size: 2.25em;
    font-weight: bold;
    color: #F36D73;
    margin-right: -2px;
    line-height: 1;
}

.subtitle span {
    letter-spacing: 0.02em;
}

.about-holder ul li span {
    font-weight: bold;
}

.about-holder ul li {
    color: #353135;
    font-family: 'Merriweather', serif, Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}



#proj-button {
    color: #fdeed8;
    background-color: #688F88;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    font-family: 'Merriweather', serif;
}

.header,
.footer {
    background-color: #FAD6A5;
    padding: 20px;
    font-family: 'Merriweather', serif;
    color: #353135;
}

.popup {
    position: relative;
    display: inline;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #688F88;
    color: #fdeed8;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .show {
    visibility: visible;
}

.ped-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #fdeed8;
    padding: 10px;
}

.ped-grid-item {

    padding: 20px;
    text-align: left;
    font-family: 'Merriweather', serif;
    color: #353135;
}

.button-1 {
    background-color: #5A7C77;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #4D6A67;
}

body {
    height: 100%;
    margin: 0;
}

html {
    padding-bottom: 100px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.header-image {
    width: auto;
    height: 200px;
    border-radius: 10px;
    outline: 5px solid #94b3ae;
    outline-offset: -3px;
    display: block;
    margin: 0 auto;
}

.landscape-warning {
    display: none;
    /* Hide by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(148, 179, 174, 0.9);
    /* Slightly transparent #94b3ae */
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
}