.Filter-Title {
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
}

.Filter-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
}

.child {
    grid-column: span 1;
    margin: 5px;
}

.Chart-Holder {
    background-color: #ffffff;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slider {
    grid-column: span 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 80px;
    background: #94b3ae;
    border-radius: 20px;
    outline: #fff;

}

.slider select {
    display: block;
    width: 90%;
}

.slider input[type="number"] {
    width: 50px;
    height: 30px;
    background: #ddd;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}

.slider input[type="number"]::-webkit-outer-spin-button,
.slider input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider .range-slider {
    position: relative;
    width: 90%;
    max-width: 100%;
    height: 5px;
    background: #94b3ae;
    outline: none;
    margin: 10px;
}

.slider .range-slider .progress {
    left: 0%;
    right: 0%;
    height: 100%;
    max-width: 100%;
    background: #fff;
    border-radius: 50px;
    position: absolute;
}

.slider .range-slider input[type="range"] {
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.slider .range-slider input::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 50px;
    position: relative;
}

.slider-track {
    position: absolute;
    background-color: lightgray;
    width: 96%;
    height: 100%;
    margin-left: 5px;
    border-radius: 20px;
}

.search-button {
    background-color: #5A7C77;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 5px 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}