html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.menu__tabs {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	z-index: 10;
}

.menu__tabs li {
	flex: 1 1 0;
	min-width: 0;
	position: relative;
	z-index: 10;
}

.menu__tabs a {
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	padding: 1em;
	background: #5A7C77;
	color: #FFF;
	text-decoration: none;
	border-radius: 10px 10px 0 0;
	transition: all 0.3s ease;
	box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.2);
	font-size: calc(8px + 0.4vw);
	height: 100%;
	z-index: 10;
	overflow: hidden;
}

.menu__tabs a i {
	margin-right: calc(4px + 0.3vw);
	font-size: calc(8px + 0.4vw);
	flex-shrink: 0;
	max-width: 100%;
	overflow: hidden;
}

.menu__tabs a:hover {
	background: #4D6A67;
}

.menu__tabs a.active {
	color: #5A7C77;
	background: #FFF;
	box-shadow: none;
}

.menu__tabs a.active i {
	color: #5A7C77;
}

.menu__tabs a span {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 1000px) {
	.menu__tabs a span {
		display: none;
	}

	.menu__tabs a i {
		margin-right: 0;
		font-size: 1.3em;
	}
}

.tab-menu {
	margin: 55px auto 0;
	width: 100%;
	max-width: 3000px;
	position: relative;
}

.menu__wrapper {
	padding: 2em;
	position: relative;
	z-index: 400;
	background: #FFF;
	min-height: 300px;
	border-radius: 0 10px 10px 10px;
	margin-top: 0;
}

.menu--shadow {
	position: absolute;
	z-index: 300;
	bottom: -5px;
	height: 25px;
	width: 100%;
}

.menu--shadow:after,
.menu--shadow:before {
	content: '';
	display: block;
	width: 50%;
	height: 25px;
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
	transform: scale(0.8) rotate(-4deg);
}

.menu--shadow:after {
	right: 0;
	left: auto;
	transform: scale(0.8) rotate(4deg);
}

.menu__wrapper .menu__item {
	margin: 0;
	padding: 0;
	display: none;
}

.menu__wrapper .menu__item h3 {
	font-size: 1.8em;
	color: #333b48;
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 5px;
	margin-bottom: 12px;
}

.menu__wrapper .menu__item p {
	font-size: 1.3em;
	line-height: 1.6em;
	color: black;
}

.menu__item.item-active {
	display: block;
	background-color: #ffffff;
	border-radius: 0px 10px 10px 10px;
	color: black;
	margin-top: 0;
}

.menu__item {
	display: none;
}

#comms {
	color: black;
}
