---
layout: visualizations/jqatest.njk
person: John Quincy Adams
initials: jqa
tabs:
  - number: 2
    title: "The Young Diarist and Early Legal Career"
    short_title: "Early Legal Career"
    icon: "fa-child"
    date: "(November 1779 - August 1794)"
    data_file: "1779-9-1794-8.json"
    desc: >
      John Quincy Adams’s (JQA) diary, which was inspired by his father John Adams (JA) and started as a travel journal, initiated a lifelong writing obsession.
      In 1779, twelve-year-old JQA made his second trip abroad to accompany his father’s diplomatic mission.
      While in Europe, he attended various schools and traveled to St. Petersburg as an interpreter during Francis Dana’s mission to Russia.
      He subsequently served as JA’s secretary at Paris during the final months before the Anglo-American Definitive Peace Treaty was signed in September 1783.
      Two years later, JQA returned to the US. After graduating from Harvard College in 1787, he moved to Newburyport to read law under Theophilus Parsons.
      In 1790 he established a legal practice in Boston. JQA’s skill as a writer brought him public acclaim, and in 1794 President George Washington nominated him as US minister resident to the Netherlands.

  - number: 3
    title: "Diplomat, Senator, and Professor"
    short_title: "Early Politics"
    icon: "fa-gavel"
    date: "(September 1794 - July 1809)"
    data_file: "1794-9-1809-7.json"
    desc: >
      John Quincy Adams (JQA) entered diplomatic service in September 1794 as US minister resident to the Netherlands.
      He married Louisa Catherine Johnson (LCA) in July 1797 after a fourteen-month engagement, and their three sons were born in this period.
      During his father John Adams’s (JA) presidency, they moved to Berlin where, as US minister plenipotentiary, JQA signed a new Prussian-American Treaty of Amity and Commerce.
      JQA returned to the US in 1801 and entered politics, elected first to the Massachusetts senate in 1802 and then to the US Senate in 1803.
      His contentious relationship with fellow Federalist members over his support of some Democratic-Republican policies led to his removal from office.
      In May 1808, the Federalist-controlled Massachusetts legislature voted to replace him at the end of his term, prompting JQA’s resignation in June.
      Between 1806 and 1809, he also served as the first Boylston Professor of Rhetoric and Oratory at Harvard.


---