{% extends "base.njk" %}

{% block content %}
    <div style="width: 60%;" class="main-body">

        <h1 class="title">About Us</h1>

        <p>
        The Primary Source Cooperative (PSC) Lab Space is a collaboration between the Digital Scholarship Group
        (DSG) at Northeastern University Library and the Massachusetts Historical Society (MHS). The project aims to
        create data visualization derivatives from the transcription and XML work done by the editors of their
        respective editions at the MHS. These visualizations are both for broader scholarly research aided by
        digital humanities methodologies, but also for the public to engage with the digital collections at the MHS
        in new ways. As such, the visualizations are created from specific XML tagging done by the editors, and the
        visualizations also point back into the PSC archives at the MHS.

        
    </p>
    </div>

    <div style="width: 60%;" class="main-body">
        <h2 class="subtitle">About the Digital Scholarship Group at Northeastern University Library</h4>

        <p>The Digital Scholarship Group (DSG) is an applied research and development group within the Northeastern University Library. DSG provides expertise, infrastructure, and strategic guidance for researchers and projects at Northeastern, and also works collaboratively to develop inter-institutional projects with groups like the Primary Source Cooperative. To learn more about, contact, or work with the DSG, you can visit our website at <a href="https://dsg.northeastern.edu/">dsg.northeastern.edu</a>.
    </p>
    </div>

    <div style="width: 60%;" class="main-body">
        <h2 class="subtitle">About the Massachusetts Historical Society</h4>ƒ
Founded in 1791, the Massachusetts Historical Society is an invaluable resource for American history, life, and culture. Its extraordinary collections tell the story of America through millions of rare and unique documents, artifacts, and irreplaceable national treasures. One of the nation’s most respected research libraries, the MHS holds more than 3,600 manuscript collections comprising in excess of 12 million document pages; personal and family papers constitute the core of the manuscript collection. Visitors can also enjoy public talks, tours, exhibitions, and scholarly seminars and conferences, and anyone can view selected digitized collections at <a href="https://www.masshist.org">www.masshist.org</a>.
        <p></p>
    </div>
{% endblock %}