---
layout: visualizations/coref.njk
person: Catharine Maria Sedgwick
initials: CMSOL
tabs:   
  - number: 2
    title: "Catharine Maria Sedgwick Co-Ref Chart"
    short_title: "Co-Ref"
    icon: "fa-diagram-project"
    date: "(1797 - 1828)"
    data_file: "data.json"
    desc: >
      To encourage and support the integrity of future scholarship, the CMS Online Letters (CMSOL) project will make 
      available all letters written by Sedgwick during her nearly seven decades as an active correspondent, with 
      authoritative transcriptions and selected holographs. Approximately two-thirds of Sedgwick’s letters reside at 
      MHS and are available on microfilm; additional letters are held in other MHS collections, but many letters are 
      scattered in archives across the nation and abroad. Our initial web publication is devoted to Sedgwick’s early 
      years, beginning with her childhood letters of the 1790s and extending to 1826, shortly after her second novel, 
      Redwood, had brought her national and international fame. This era’s letters (approximately 300) anticipate the 
      issues Sedgwick explores in a lifetime of creative work.
---