---
pagination:
  data: built.pages
  size: 1
  alias: person
permalink: "projects/{{ person.Initials }}/index.html"
layout: internalLanding.njk
kind: Projects
eleventyComputed:
  title: "{{ person.Name }}"
  initials: "{{ person.Initials }}"
---