---
pagination:
  data: built.subpages
  size: 1
  alias: subpage
permalink: "/psc/projects/{{ subpage.initials }}/{{ subpage.tool }}/index.html"
eleventyComputed:
  person: "{{ subpage.name }}"
  initials: "{{ subpage.initials }}"
  layout: "{{ subpage.layout }}"
---