---
pagination:
    data: data.tools
    size: 1
    alias: tool
permalink: "/tools/{{ tool.tool }}/"
layout: "internalLanding.njk"
kind: "Tools"
eleventyComputed:
    title: "{{ tool.title }}" 
    initials: "{{ tool.tool }}" 
---